name = "discordcalendar"
type = "javascript"
zone_id = ""
account_id = ""
route = "api.discordcalendar.com/*"

compatibility_date = "2022-06-16"

[build]
command = "npm install && npm run build"
[build.upload]
format = "modules"
dir = "./build"
main = "./index.mjs"